body{
    font-family: "Times New Roman", Times, serif;
}

* {
    box-sizing: border-box;
    border-color: rgb(76, 0, 255);
    border-style: solid;
    border-width: 3px;
    border-radius: 3px;
}

.header {
    text-align: center;
    padding: 32px;
}

.row {
display: flex;
flex-wrap: wrap;
padding: 0 4px;
content: center;
padding: 5%;
justify-content: space-between;

}


.column {
flex: 25%;
max-width: 40%;
padding: 0 4px;

}


.punkts1{
background-color: antiquewhite;
}

table {
border-collapse: collapse;
width: 100%;
}

td, th {
text-align: left;
padding: 8px;
}